body {
  /* font-family: 'Poppins', sans-serif; */
  background: linear-gradient(to bottom right, #f5f7fa, #F9FAFC);
}

.glass-effect {
  background: rgba(255, 255, 255, 0.01) !important;
  backdrop-filter: blur(25px) !important;
  border-radius: 24px;
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.05);
}

.glass-sidebar {
  background: rgba(0, 2, 125, 0.8);
  backdrop-filter: blur(15px);
  border-radius: 24px;
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.1);
}

.sidebar-icon {
  color: white;
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}

.sidebar-icon:hover {
  color: #FF5A00;
  transform: scale(1.1);
}

.sidebar-text {
  display: none;
  color: white;
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}

.sidebar-text:hover {
  color: #FF5A00;
  transform: scale(1.1);
}

.sidebar-expanded .sidebar-text {
  display: inline;
}

.dot-container {
  display: flex;
  justify-content: center;
  gap: 6px;
  margin-bottom: 1rem;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.dot.red {
  background-color: #FF605C;
}

.dot.yellow {
  background-color: #FFBD44;
}

.dot.green {
  background-color: #00CA4E;
}

.notification-icon {
  position: relative;
}

.notification-icon::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 8px;
  background-color: #FF5A00;
  border-radius: 50%;
  border: 2px solid white;
}

.white-box {
  background: white;
  border-radius: 24px;
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.1);
}
